[submodule "ext/apr-util"]
	path = ext/apr-util
	url = https://git.tch.25u.com/git/opensource/net/apr-util.git
[submodule "ext/apr"]
	path = ext/apr
	url = https://git.tch.25u.com/git/opensource/net/apr.git
[submodule "ext/tgit"]
	path = ext/tgit
	url = https://git.tch.25u.com/git/opensource/git/tortoisegit.tgit.git
[submodule "ext/zlib"]
	path = ext/zlib
	url = https://git.tch.25u.com/git/opensource/git/tortoisegit.zlib.git
[submodule "ext/libcurl"]
	path = ext/libcurl
	url = https://git.tch.25u.com/git/opensource/net/curl.git
[submodule "ext/libgit2"]
	path = ext/libgit2
	url = https://git.tch.25u.com/git/opensource/git/libgit2.git
